RewriteEngine On
RewriteBase /sistema-crud/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Projetos
RewriteRule ^projeto/([0-9]+)$ views/site/pagina-projeto.php?id=$1 [L,QSA]

# Cursos
RewriteRule ^curso/([0-9]+)$ views/site/pagina-curso.php?id=$1 [L,QSA]

# Produções
RewriteRule ^producao/([0-9]+)$ views/site/pagina-producao.php?id=$1 [L,QSA]

#Professor
RewriteRule ^professor/([0-9]+)$ views/site/pagina-professores.php?id=$1 [L,QSA]